<!-- accounts/templates/django-registration/activation_complete.html -->
{% extends 'data/unauth-base.html' %}

{% load i18n %}
{% block title %}{% trans "Account Activated" %}{% endblock %}

{% block content %}
<div class="card o-hidden border-0 shadow-lg my-5">
  <div class="card-body p-0">
    <!-- Nested Row within Card Body -->
    <div class="row">
      <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
      <div class="col-lg-7">
        <div class="p-5">
          <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Activation complete</h1>
          </div>
          <div class="text-center">
            <p>You have now activated your account. Please <a href="{% url 'login' %}">log in</a> to get started!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% comment %}
**registration/activation_complete.html**

Used after successful account activation. This template has no context
variables of its own, and should simply inform the user that their
account is now active.
{% endcomment %}
