<!-- templates/registration/password_reset_form.html -->
{% extends 'data/unauth-base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}Forgotten Password{% endblock %}

{% block content %}
<!-- Outer Row -->
<div class="row justify-content-center">
  <div class="col-xl-10 col-lg-12 col-md-9">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
          <div class="col-lg-6">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-2">Forgot Your Password?</h1>
                <p class="mb-4">We get it, stuff happens. Just enter your email address below and we'll send you a link to reset your password!</p>
              </div>
              <form class="user" method='post' action=''>{% csrf_token %}
                <div class="form-group">
                  {% render_field form.email class+="form-control form-control-user" aria-describedby="emailHelp" placeholder="Enter Email Address..." %}
                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">Reset Password</button>
              </form>
              <hr>
              <div class="text-center">
                <a class="small" href="{% url 'registration_register' %}">Create an Account!</a>
              </div>
              <div class="text-center">
                <a class="small" href="{% url 'login' %}">Already have an account? Login!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
