{% extends 'data/unauth-base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% block title %}{% trans "Confirm password reset" %}{% endblock %}

{% block content %}
<!-- Outer Row -->
<div class="row justify-content-center">
  <div class="col-xl-10 col-lg-12 col-md-9">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
          <div class="col-lg-6">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-2">{% trans "Enter your new password below to reset your password:" %}</h1>
                <p class="mb-4">!</p>
              </div>

              <form class="user" method='post' action=''>{% csrf_token %}
                <div class="form-group">
			    	      {% render_field form.new_password1 class+="form-control form-control-user" aria-describedby="passwordHelp" placeholder="Password"%}
                </div>
                <div class="form-group">
                  {{ form.password1.help_text }}
                </div>
                {% if form.new_password1.errors %}
                <div class="form-group form-error">
                  {{ form.new_password1.errors }}
                </div>
                {% endif %}
                <div class="form-group">
			    	      {% render_field form.new_password2 class+="form-control form-control-user" aria-describedby="passwordHelp" placeholder="Repeat Password"%}
                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">Reset Password</button>
              </form>
              <hr>
              <div class="text-center">
                <a class="small" href="{% url 'registration_register' %}">Create an Account!</a>
              </div>
              <div class="text-center">
                <a class="small" href="{% url 'login' %}">Already have an account? Login!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
