<!-- templates/registration/password_reset_complete.html -->
{% extends 'data/unauth-base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Password reset complete" %}{% endblock %}
{% block content %}
<!-- Outer Row -->
<div class="row justify-content-center">
  <div class="col-xl-10 col-lg-12 col-md-9">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
          <div class="col-lg-6">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-2">Password successfully reset</h1>
                <p class="mb-4">
                  {% blocktrans %}
                  Your password has been reset!  You may now <a href="{{ login_url }}">log in</a>.
                  {% endblocktrans %}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
