<!-- templates/registration/tos.html -->
{% extends 'data/unauth-base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Terms of Service{% endblock %}

{% block content %}
<!-- Outer Row -->
<div class="row justify-content-center">

  <div class="col-xl-10 col-lg-12 col-md-9">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-12">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Welcome to Transcrobes!</h1>
                <p>If you are new to <a href="https://transcrob.es">Transcrobes</a>, please make sure you check out <a href="https://transcrob.es">the information site</a> to make sure Transcrobes is right for you. You can then go ahead and <a href="{% url 'registration_register' %}">create an account</a> or login here if you already have an account.</p>
              </div>

              <form class="user" method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="form-group form-error">
                  <p>{% if form.non_field_errors %}
                  {{ form.non_field_errors }}
                  {% endif %}
                  </p>
                </div>
                <div class="form-group">
                  {% render_field form.username class+="form-control form-control-user" aria-describedby="usernameHelp" placeholder="Enter Username..." %}
                </div>
                {% if form.username.errors %}
                <div class="form-group form-error">
                  {{ form.username.errors }}
                </div>
                {% endif %}
                <div class="form-group">
                  {% render_field form.password class+="form-control form-control-user" aria-describedby="passwordHelp" placeholder="Password..."%}
                </div>
                {% if form.password.errors %}
                <div class="form-group form-error">
                  {{ form.password.errors }}
                </div>
                {% endif %}
                <div class="form-group">
                  <div class="custom-control custom-checkbox small">
                    <input type="checkbox" class="custom-control-input" id="customCheck">
                    <label class="custom-control-label" for="customCheck">Remember Me</label>
                  </div>
                </div>
                <input type="submit" value="Login" class="btn btn-primary btn-user btn-block" />
                <input type="hidden" name="next" value="{{ next }}" />
              </form>
              <hr>
              <div class="text-center">
                <a class="small" href="{% url 'password_reset' %}">Forgot Password?</a>
              </div>
              <div class="text-center">
                <a class="small" href="{% url 'registration_register' %}">Create an Account!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
{% endblock %}
