{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="{% static 'data/img/favicon.ico'%}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Transcrobes Input">
  <meta name="author" content="Anton Melser">

  <title>{% block title %}{% endblock %}</title>

  <!-- Styles for this template-->
  <link href="{% static 'data/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'data/css/sb-admin-2.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'data/css/custom.css' %}" rel="stylesheet" type="text/css">

  <!-- Custom fonts for this template-->
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <script>
    const cookies = document.cookie.split('; ').reduce((acc, c) => {const [key, val] = c.split('='); acc[key] = val; return acc;}, {});
    const csrftoken = cookies["csrftoken"];
  </script>

  <style id="extracss">
  {% block extracss %} {% endblock %}
  </style>

</head>
<body>
<div id="error-bar" class="error-bar"></div>
<div class="container">
  <main>
    {% block content %} {% endblock %}
  </main>
</div>

<!-- Footer -->
<footer class="sticky-footer bg-white">
  <div class="container">
    {% block footer %}{% endblock %}
  </div>
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Copyright &copy; Anton Melser 2020</span>
    </div>
  </div>
</footer>
<!-- End of Footer -->

<!-- Bootstrap core JavaScript -->
<script src="{% static 'data/js/jquery.min.js' %}"></script>
<script src="{% static 'data/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript -->
<script src="{% static 'data/js/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages -->
<script src="{% static 'data/js/sb-admin-2.min.js' %}"></script>

{% block extrajs %}{% endblock %}

</body>
</html>
