<!-- templates/data/home.html-->
{% extends 'data/base.html' %}
{% load static %}

{% block title %}Transcrobes Dashboard{% endblock %}

{% block content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
  <!--<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>-->
</div>

<!-- Content Row -->
<div class="row">

</div>

<!-- Content Row -->

{% comment %}
<div class="row">

  <!-- Area Chart -->
  <div class="col-xl-8 col-lg-7">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">New words per day</h6>
        <div class="dropdown no-arrow">
          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
            <div class="dropdown-header">Dropdown Header:</div>
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <div class="chart-area">
          <canvas id="myAreaChart"></canvas>
        </div>
      </div>
    </div>
  </div>

  <!-- Pie Chart -->
  <div class="col-xl-4 col-lg-5">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Vocabulary Sources</h6>
        <div class="dropdown no-arrow">
          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
            <div class="dropdown-header">Dropdown Header:</div>
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <div class="chart-pie pt-4 pb-2">
          <canvas id="myPieChart"></canvas>
        </div>
        <div class="mt-4 text-center small">
          <span class="mr-2">
            <i class="fas fa-circle text-primary"></i> Anki
          </span>
          <span class="mr-2">
            <i class="fas fa-circle text-success"></i> Notrobes
          </span>
          <span class="mr-2">
            <i class="fas fa-circle text-info"></i> Brocrobes
          </span>
          <span class="mr-2">
            <i class="fas fa-circle text-info"></i> Class Import
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
{% endcomment %}

<!-- Content Row -->
<div class="row">

  <!-- Content Column -->
  <div class="col-lg-6 mb-4">

    <!-- Project Card Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Language goals</h6>
      </div>
      <div class="card-body">
        <h4 class="small font-weight-bold">HSK 4 Readiness <span class="float-right">60%</span></h4>
        <div class="progress mb-4">
          <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h4 class="small font-weight-bold">Comprehensive class year 2 vocab <span class="float-right">40%</span></h4>
        <div class="progress mb-4">
          <div class="progress-bar bg-warning" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h4 class="small font-weight-bold">Three-body problem readiness <span class="float-right">20%</span></h4>
        <div class="progress mb-4">
          <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>

    <!-- Color System
      <div class="row">
      <div class="col-lg-6 mb-4">
      <div class="card bg-primary text-white shadow">
      <div class="card-body">
      Primary
      <div class="text-white-50 small">#4e73df</div>
      </div>
      </div>
      </div>
      <div class="col-lg-6 mb-4">
      <div class="card bg-success text-white shadow">
      <div class="card-body">
      Success
      <div class="text-white-50 small">#1cc88a</div>
      </div>
      </div>
      </div>
      <div class="col-lg-6 mb-4">
      <div class="card bg-info text-white shadow">
      <div class="card-body">
      Info
      <div class="text-white-50 small">#36b9cc</div>
      </div>
      </div>
      </div>
      <div class="col-lg-6 mb-4">
      <div class="card bg-warning text-white shadow">
      <div class="card-body">
      Warning
      <div class="text-white-50 small">#f6c23e</div>
      </div>
      </div>
      </div>
      <div class="col-lg-6 mb-4">
      <div class="card bg-danger text-white shadow">
      <div class="card-body">
      Danger
      <div class="text-white-50 small">#e74a3b</div>
      </div>
      </div>
      </div>
      <div class="col-lg-6 mb-4">
      <div class="card bg-secondary text-white shadow">
      <div class="card-body">
      Secondary
      <div class="text-white-50 small">#858796</div>
      </div>
      </div>
      </div>
      <div class="col-lg-6 mb-4">
      <div class="card bg-light text-black shadow">
      <div class="card-body">
      Light
      <div class="text-black-50 small">#f8f9fc</div>
      </div>
      </div>
      </div>
      <div class="col-lg-6 mb-4">
      <div class="card bg-dark text-white shadow">
      <div class="card-body">
      Dark
      <div class="text-white-50 small">#5a5c69</div>
      </div>
      </div>
      </div>
      </div> -->

  </div>

  <div class="col-lg-6 mb-4">

    <!-- Surveys -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Questionnaires</h6>
      </div>
      <div class="card-body">
        <div class="text-center">
          <a target="_blank" rel="nofollow" href="{% url 'ui-survey-list' %}"><p>Please make sure you have filled out all the Research Surveys!</p> <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="{% static 'data/img/undraw_customer_survey_f9ur.svg' %}" alt="surveys"></a>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- /.container-fluid -->
{% endblock %}
