<!-- templates/data/settings.html-->
{% extends 'data/base.html' %}
{% load static %}

{% block title %}Transcrobes User Settings{% endblock %}

{% block content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Settings</h1>
  <!--<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>-->
</div>

<!-- Content Row -->
<div class="row">

</div>


<!-- Content Row -->
<div class="row">

  <!-- Content Column -->
  <div class="col-lg-6 mb-4">

    <!-- Project Card Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Password</h6>
      </div>
      <div class="card-body">
        <div><a href="{% url 'password_change' %}">Change your password</a></div>
      </div>
    </div>

  </div>

  <div class="col-lg-6 mb-4">

  </div>
</div>


<!-- /.container-fluid -->
{% endblock %}
