<!-- templates/data/surveys.html-->
{% extends 'data/base.html' %}

{% block title %}Research Surveys{% endblock %}

{% block content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Surveys</h1>
</div>

{% if new_surveys %}
<div class="row">
  <!-- Unanswered Surveys -->
  <div class="col-xl-8 col-lg-7">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">New surveys</h6>
      </div>
      <!-- Card Body -->

      <div class="card-body">
        <ul>
          {% for survey in new_surveys %}
            <li><a href="{% url 'ui-survey-detail' survey_id=survey.id %}">{{ survey.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if answered_surveys %}
<div class="row">
  <!-- Answered Surveys -->
  <div class="col-xl-8 col-lg-7">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Answered surveys</h6>
      </div>
      <!-- Card Body -->

      <div class="card-body">
        <ul>
          {% for survey in answered_surveys %}
            <li><a href="{% url 'ui-survey-detail' survey_id=survey.id %}">{{ survey.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}
